<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Daniel Jalkut</string>
	<key>Builder Version</key>
	<string>10600.5.3.1</string>
	<key>CFBundleDisplayName</key>
	<string>Bug Valet</string>
	<key>CFBundleIdentifier</key>
	<string>com.punkitup.bugvalet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>5242880</real>
		<key>Global Page</key>
		<string>GlobalPage.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>AugmentOpenRadar.js</string>
				<string>AugmentAppleBugReporter.js</string>
				<string>Main.js</string>
				<string>FragilePageScraping.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Easily copy bug information from Apple's Bug Reporter to OpenRadar</string>
	<key>DeveloperIdentifier</key>
	<string>493CVA9A35</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>openradar.appspot.com</string>
				<string>bugreport.apple.com</string>
				<string>www.openradar.me</string>
				<string>openradar.me</string>
				<string>www.bugreport.apple.com</string>
				<string>www.openradar.appspot.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://raw.githubusercontent.com/danielpunkass/BugValet/master/PublicUpdates.plist</string>
	<key>Website</key>
	<string>https://github.com/danielpunkass/BugValet</string>
</dict>
</plist>
